<tr class="border-top">
  <td><%= task.description %></td>
  <td><%= task.due_date %></td>
  <td>
    <%= link_to "Edit", edit_task_path(task), class: 'btn btn-primary btn-sm' %>
    <%= link_to "Delete", task_path(task), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "are you sure to delete this task?" } %>
  </td>
</tr>